<main>
    <section class="cats">
        <ul>
            {{#if cats}}
            {{#each cats}}
            {{>cat}}
            {{/each}}
            {{else}}
            <div class="cat-form">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMF00WEcZY0HVvziejyTOfa38hb_eiuzyDZg&usqp=CAU" alt="Cats">
   <h2>No cats to display yet! Be the first one to <a href="/cats/addCat">add</a> a cat!</h2>
</div>
            
            {{/if}}
        </ul>
    </section>
</main>