<main>
    <form class="cat-form" method="POST">
        <h2>Login Form</h2>
        <label for="username">Username</label>
        <input type="text"  name="username">
        <label for="password">Password</label>
        <input type="text" name="password">
        <button type="submit">Login</button>
    </form>
</main>