<main>
        <form class="cat-form" method="POST">
            <h2>Register Form</h2>

            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName">
            
            <label for="username">Username</label>
            <input type="text" id="username" name="username">

            <label for="email">Email</label>
            <input type="text" id="email" name="email">

            <label for="password">Password</label>
            <input type="text" id="password" name="password">

            <label for="repeatPassword">Repeat password</label>
            <input type="text" id="repeatPassword" name="repeatPassword">

            <button type="submit">Register</button>
        </form>
</main>